.filter {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
  cursor: pointer;
  justify-content: center;
  transition: all 0.3s;
}

.filter svg {
  height: 16px;
  fill: rgb(77, 77, 77);
  transition: all 0.1s;
}

.filter:hover svg {
  fill: rgb(100, 100, 100);
}
