* {
  font-size: small;
}

button {
  --secondary: #575757;
  --light-grey: linear-gradient(#fafafa, #ebebeb);
  --shadow: 0 5px 15px 0 #00000026;
  --border-radius: 10px;
  --shadow-active: 0 3px 3px 0 #00000026;
}

button:hover {
  box-shadow: var(--shadow-active);
}
